*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid #FFFFFF;
    
}

.main-nav li a:hover
{
    border: 1px solid #FFFFFF;
}


.main-nav li a
{
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h
{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid #FFFFFF;
    padding: 10px 30px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
    background-color: #00FFF;
    font-family: "Roboto", sans-serif;
}
.btn-two:hover
{
    background-color: #00FFFF;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
    
}
