*
{
  margin: 0;
  padding: 0;
} 

header
{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Background image.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
}
   
.main-nav
{
      float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li a
{ 
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}


 .main-nav li.active a
{
  border: 1px solid #FFFFFF;
}

.main-nav li a:hover
{
  border: 1px solid	#FFFFFF;
}

.logo img
{
  width: 150px;
  height: auto;
  float: left;
}

